<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Welcome, {{ current_user.name }}! (Role: Admin)</p>


    <h2>Manage Users</h2>
    <ul>
        <li><a href="{{ url_for('list_users') }}">View All Users</a></li>
        <li><a href="{{ url_for('add_user') }}">Add New User</a></li>
    </ul>

    <h2>Manage Roles</h2>
    <ul>
        <li><a href="{{ url_for('list_roles') }}">View All Roles</a></li>
        <li><a href="{{ url_for('add_role') }}">Add New Role</a></li>
    </ul>

    <h2>Manage Permissions</h2>
    <ul>
        <li><a href="{{ url_for('list_permissions') }}">View All Permissions</a></li>
        <li><a href="{{ url_for('add_permission') }}">Add New Permission</a></li>
    </ul>
    <h2>Group Management</h2>
    <ul>
    <li><a href="{{ url_for('list_groups') }}">View All Groups</a></li>
    <li><a href="{{ url_for('add_group') }}">Add New Group</a></li>
    <li><a href="{{ url_for('assign_user_to_group') }}">Assign User to Group</a></li>
  </ul>
    <h2>Activity Log</h2>
       <ul>
    <li><a href="{{ url_for('graph') }}"> Visualizations  </a></li>

  </ul>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>