<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Guest Dashboard</h1>
    <p>Welcome, Guest!</p>
    <p>You are logged in as a guest. Enjoy limited access to the platform.</p>

{#    <h2>Public Content</h2>#}
{#    <ul>#}
{#        <li><a href="{{ url_for('view_public_content') }}">View Public Content</a></li>#}
{#    </ul>#}

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>