
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChatMate Web</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    
<body>
    <div class="navbar">
        <div class="logo">
            <h1>ChatMate Web</h1>
        </div>

        <div class="nav-links">
            {% if current_user.is_authenticated %}
                <p>Welcome, {{ current_user.name }}!</p>
                <a href="{{ url_for('dashboard') }}">Go to Dashboard</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="login-btn">Login</a>

            {% endif %}
        </div>
    </div>

    <main class="container-fluid py-5 text-center">
        {% block main %}  {% endblock %}
    </main>
</body>
</html>